@font-face {
    font-family: "Palatino";
    src: url("https://www.download-free-fonts.com/details/88338/palatino-linotype");
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.nav-item{
    padding-left: 15px;
}
.landing-cont{
    background-image: url("https://static.wixstatic.com/media/08fe21_10aae2678a2e4e8995c6fd05810f5942.jpg/v1/fill/w_1436,h_1152,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/08fe21_10aae2678a2e4e8995c6fd05810f5942.jpg");
    
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
}
.landing-p{
    top: 50%;
    left: 32%;
    text-align: center;
    height: 100vh;
    
}
.landing-p > h1{
    font-family: "Palatino";
    font-size: 5rem;
    color: yellow;
}
.g-head h2{
    text-align: center;
    font-family: 'Spinnaker', sans-serif;
    margin-top: 5%;
    font-size: 2rem;
    letter-spacing: 0.2em;
}
.hr{
    width: 80%;
   
    margin-left:10% !important;
    background-color: rgb(255, 255, 0);
    
    height: 2px;
    border-width:0px !important;
    color:rgb(255, 255, 0);
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 5px;
    
    padding: 10px;
    margin-left: 12%;
  }
  
  .grid-container > div {
   
    
    text-align: center;
    font-size: 30px;
    width: 200px;
    height: 300px;
  }
  .grid-container >div >img{
      width: 200px;
      height: 300px;
  }
  .grid-container > div > p{
      font-family: 'Palatino';
      font-size: 1.5rem;
      line-height: 1.5em;
  }
  .grid-container>div>button{
      font-size: 20px;
      font-family: sans-serif;
      padding: 8px;
      
  }
  .hr-book{
    width: 80%;
    margin-left: 10%;
    background-color: rgb(255, 255, 0);
    
    height: 2px;
    border-width:0px !important;
    color:rgb(255, 255, 0);

  }
  .contact-details{
      margin-top: 5%;
      text-align: center;
  }
  .inverted-comma{
      color: white;
      font-family: 'EB Garamond', serif;
      font-size: 6rem;
  }